* {
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: #e5e5e5;
}

button,
input,
select,
textarea {
  font: inherit;
}

:root {
  --color-surface: #ffffff;
  --color-border: #393939;
  --color-text-secondary: #6b6b6b;
  --color-hover: #f0f0f0;
  --color-danger: #da4f4f;

  --radius-s: 6px;

  --transition-fast: 0.2s ease;
}